*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.row{
    /* border: 1px solid; */
}
.col-3{
    /* border: 1px solid red; */
}
.col-6{
    /* border: 1px solid blue; */
}
.col-4{
    /* border: 1px solid blue; */
}
.col-5{
    /* border: 1px solid blue; */
}
.col-2{
    /* border: 1px solid blue; */
}
.col-sm-6 img{
    height: 100%;
    width: 100%;
}

.bgl{
    /* border: 1px solid; */
    position: absolute;
    height: 270px;
    width: 287px;
    color: white;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(233, 2, 110, 0.5),rgba(233,2,110,0.5));
    display: none;
}

.bgl1{
    /* border: 1px solid; */
    position: absolute;
    height: 759px;
    width: 579px;
    color: white;
    border: none;
    display: flex;
    z-index: 2;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(233, 2, 110, 0.5),rgba(233,2,110,0.5));
    display: none;
}

.bgl3{
    /* border: 1px solid; */
    position: absolute;
    height: 376px;
    width: 550px;
    color: white;
    border: none;
    display: flex;
    z-index: 2;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(233, 2, 110, 0.5),rgba(233,2,110,0.5));
    display: none;
}

.bgl4{
    /* border: 1px solid; */
    position: absolute;
    height: 166px;
    width: 220px;
    color: white;
    border: none;
    display: flex;
    z-index: 2;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(233, 2, 110, 0.5),rgba(233,2,110,0.5));
    display: none;
}
#ps1{
    margin-top: -100px;
    /* width: 500px; */
    z-index: 2;
}
#s32{
    background-color: #FC0254;
    /* width: 10px; */
}
#s31{
    background-color: #FC0254;
}

#p1{
    height: 250px;
    width: 250px;
}

#p2{
    height: 80px;
    width: 250px;
}

#footer{
    background-color: rgb(234,237,242);
}
#f1{
    background-color: rgb(234,237,242);
    border: none;
}
#button-addon2:hover{
    background-color: #FC0254;
}